/* Reset / Generic styles */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, Sans;
}



/* App Style */

#app {
	position: relative;
	overflow: hidden;
}


#table-pane { 
	width: 70%;
	padding: 15px;
}

#table-pane #screen-table {
	width: 100%;
	margin: auto;
	border: 1px solid;
	border-color: #ccc;
}

#table-pane #screen-table.show-grid {
	border-right: 0;
	border-bottom: 0;
}

#table-pane #screen-table .line {
	margin: 0;
	padding: 0;
	display: flex;
}

#table-pane #screen-table .outer-cell {
	flex-basis: 100%;
	padding: 0;
}

#table-pane #screen-table.show-grid .outer-cell {
	border-right: 1px solid;
	border-bottom: 1px solid;
	border-color: #ccc;
}

#table-pane #screen-table .cell {
	width: 100%;
	height: 0;
	padding-top: 100%;
}



#toolkit-pane { 
	width: 30%;
	overflow: hidden;
	position: fixed;
	top: 0;
	right: 0;
	border-left: 2px solid #404040;
	height: 100%;
}

#toolkit-pane #colors-pane {
	padding: 15px;
	padding-left: 0;
	padding-bottom: 0;
	overflow: hidden;
	border-bottom: 2px solid #404040;
}

#toolkit-pane #colors-pane .color-wrapper {
	width: 20%;
	float: left;
	padding-left: 15px;
	padding-bottom: 15px;
	position: relative;
}

#toolkit-pane #colors-pane .color-wrapper .color {
	width: 100%;
	height: 0;
	padding-top: 100%;
	position: relative;
	cursor: pointer;

	transition: all 0.2s ease;
}

#toolkit-pane #colors-pane .color-wrapper .color .select-indicator {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 2px solid #000;
	opacity: 0;
	z-index: 2;

	transition: all 0.2s ease;
}

#toolkit-pane #colors-pane .color-wrapper .color .mode-indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    text-align: center;
    background: rgba(255, 255, 255, 0.5) no-repeat center;
    padding: 5px 10px;
    border-radius: 50%;
    height: 50%;
    width: 50%;
    
    transition: all 0.2s ease;
    opacity: 0;
}

#toolkit-pane #colors-pane .color-wrapper .color .mode-indicator i {
	font-size: 20px;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

#toolkit-pane #colors-pane .color-wrapper.current .color .mode-indicator {
	opacity: 1;
}

#toolkit-pane #colors-pane .color-wrapper.current .color .select-indicator {
	opacity: 1;
    left: -5px;
    top: -5px;
    right: -5px;
    bottom: -5px;
}

#toolkit-pane #colors-pane .color-wrapper .metas {
	padding: 5px;
    background: #e2e2e2;
    text-align: center;
    font-size: 14px;
    opacity: 1;
}

#toolkit-pane #colors-pane .color-wrapper.empty .color {
	transform: scale(0.6);
}

#toolkit-pane #colors-pane .color-wrapper.empty .metas {
    opacity: 0.5;
    background: transparent;
}


#toolkit-pane #menu-pane {

}

#toolkit-pane #menu-pane ul {
    overflow: hidden;
    list-style-type: none;
    margin: 0;
    padding: 15px;
    padding-left: 0;
    padding-bottom: 0;
    border-bottom: 2px solid #404040;
}

#toolkit-pane #menu-pane ul#menu-actions {
	padding-bottom: 4px;
}

#toolkit-pane #menu-pane li {
	display: block;
	float: left;
	width: 50%;
	padding-left: 15px;
	padding-bottom: 15px;
}

#toolkit-pane #menu-pane a {
	display: block;
    text-decoration: none;
    color: #fff;
    background-color: #3498db;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px #2770a0;
    font-size: 14px;
    line-height: 20px;
    padding: 10px;
    position: relative;
}

#toolkit-pane #menu-pane a input[type=file] {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
}

#toolkit-pane #menu-pane a i {
	font-size: 130%;
    margin-right: 9px;
    transform: translateX(4px) translateY(3px);
    width: 20px;
}

#app:not(.color-picker-mode) #toolkit-pane #menu-pane a:hover {
	background-color: #2e8ac7;
	box-shadow: 0 4px #27496d;
}

#app:not(.color-picker-mode) #toolkit-pane #menu-pane a:active {
	background-color: #277bb3;
    box-shadow: 0 2px #1c5275;
	transform: translateY(2px);
}

#toolkit-pane #menu-pane .option-wrapper {
	display: block;
	text-decoration: none;
	color: #404040;
	background-color: #eee;
	border: 1px solid #d7dcde;
	border-radius: 4px;
	font-size: 14px;
	line-height: 20px;
	position: relative;
	box-sizing: border-box;
}

#toolkit-pane #menu-pane .option-wrapper:hover {
	background-color: #eaeaea;
}

#toolkit-pane #menu-pane .option-wrapper label {
	display: block;
	padding: 10px;
	cursor: pointer;
}

#toolkit-pane #menu-pane .option-wrapper label > div {
	margin-right: 7px;
}

#app.color-picker-mode #toolkit-pane #colors-pane #color-selector .color-wrapper {
	opacity: 0.2;
}

#app.color-picker-mode #toolkit-pane #colors-pane #color-selector .color-wrapper.current {
	opacity: 1;
}

#app.color-picker-mode #toolkit-pane #menu-pane {
	opacity: 0.2;
}




.sp-container {
	position: absolute !important;
	display: none;
}


#current-mode {
	position: fixed;
    right: 20px;
    bottom: 0;
    padding: 10px;
    background: #ddd;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#image-canvas {
	display: none;
}

