/* Reset / Generic styles */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, Sans;
}



/* App Style */

#app {
	position: relative;
	overflow: hidden;
}

#app > div {
	position: relative;
	float: left;
}


#table-pane { 
	width: 50%;
	border-right: 1px solid #404040;
	padding: 15px;
}

#table-pane #screen-table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

#table-pane #screen-table tr {
	margin: 0;
	padding: 0;
	border: none;
}

#table-pane #screen-table td {
	border: 1px solid #ccc;
	padding: 0;
}

#table-pane #screen-table .cell {
	width: 100%;
	height: 0;
	padding-top: 100%;
}



#toolkit-pane { 
	width: 50%;
	overflow: hidden;
}

#toolkit-pane #colors-pane {
	padding: 15px;
	padding-left: 0;
	padding-bottom: 0;
	overflow: hidden;
	border-right: 1px solid #404040;
	width: 60%;
	float: left;
}

#toolkit-pane #colors-pane .color-wrapper {
	width: 20%;
	float: left;
	padding-left: 15px;
	padding-bottom: 15px;
	position: relative;
}

#toolkit-pane #colors-pane .color-wrapper .color {
	width: 100%;
	height: 0;
	padding-top: 100%;
	position: relative;
	cursor: pointer;

	transition: all 0.2s ease;
}

#toolkit-pane #colors-pane .color-wrapper .color .select-indicator {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 2px solid #000;
	opacity: 0;
	z-index: 2;

	transition: all 0.2s ease;
}

#toolkit-pane #colors-pane .color-wrapper .color .mode-indicator {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    text-align: center;
    background: rgba(255, 255, 255, 0.5) no-repeat center;
    padding: 5px 10px;
    border-radius: 50%;
    height: 50%;
    width: 50%;
    
    transition: all 0.2s ease;
    opacity: 0;
}

#toolkit-pane #colors-pane .color-wrapper .color .mode-indicator i {
	font-size: 20px;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
}

#toolkit-pane #colors-pane .color-wrapper.current .color .mode-indicator {
	opacity: 1;
}

#toolkit-pane #colors-pane .color-wrapper.current .color .select-indicator {
	opacity: 1;
    left: -5px;
    top: -5px;
    right: -5px;
    bottom: -5px;
}

#toolkit-pane #colors-pane .color-wrapper .metas {
	padding: 5px;
    background: #e2e2e2;
    text-align: center;
    font-size: 14px;
    opacity: 1;
}

#toolkit-pane #colors-pane .color-wrapper.empty .color {
	transform: scale(0.8);
	opacity: 0.5;
}

#toolkit-pane #colors-pane .color-wrapper.empty .metas {
    opacity: 0.5;
    background: transparent;
}


#toolkit-pane #menu-pane {
	width: 40%;
	float: left;
	padding: 15px;
    padding-left: 0;
    padding-bottom: 0;
    overflow: hidden;
    list-style-type: none;
    margin: 0;
}

#toolkit-pane #menu-pane li {
	display: block;
	float: left;
	width: 50%;
	padding-left: 15px;
	padding-bottom: 15px;
}

#toolkit-pane #menu-pane a {
	display: block;
    text-decoration: none;
    color: #fff;
    background-color: #6496c8;
    border: none;
    border-radius: 4px;
    box-shadow: 0 4px #27496d;
    font-size: 14px;
    padding: 10px;
    position: relative;
}

#toolkit-pane #menu-pane a input[type=file] {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
}

#toolkit-pane #menu-pane a i {
	font-size: 130%;
	margin-right: 3px;
	transform: translateY(1px);
}

#toolkit-pane #menu-pane a:hover {
	background-color: #417cb8;
}

#toolkit-pane #menu-pane a:active {
	background-color: #417cb8;
	box-shadow: 0 2px #27496d;
	transform: translateY(2px);
}


#current-mode {
	position: fixed;
    right: 20px;
    bottom: 0;
    padding: 10px;
    background: #ddd;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}


#save-load-pane {
	position: relative;
	width: 100%;
	overflow: hidden;
    border-top: 1px solid #404040;
}

#save-load-pane > div {
	float: left;
	width: 50%;
	box-sizing: border-box;
	padding: 15px;
}

#save-load-pane .left-pane {
	border-right: 1px solid #404040;
}

#save-load-pane label {
	display: block;
	font-size: 14px;
    margin: 0 15px;
    font-weight: bold;
}

#save-load-pane textarea {
	display: block;
	margin: 15px auto;
	height: 200px;
	resize: none;
	width: 47vw;
}
