/* Reset / Generic styles */

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	margin: 0;
	padding: 0;
	font-size: 16px;
	font-family: 'Helvetica Neue', Helvetica, Arial, Verdana, Sans;
}



/* App Style */

#app {
	display: flex; 
	justify-content: center;
	flex-direction: row;
	align-items: stretch;
}

#app > div {
	position: relative;
}



#table-pane { 
	flex-grow: 2; 
	border-right: 1px solid #404040;
	padding: 15px;
}

#screen-table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0;
}

#screen-table tr {
	margin: 0;
	padding: 0;
	border: none;
}

#screen-table td {
	border: 1px solid #ccc;
	padding: 0;
}

#screen-table .cell {
	width: 100%;
	height: 0;
	padding-top: 100%;
}



#colors-pane { 
	flex-grow: 1; 
}

#color-selector {
	position: absolute;
	top: 15px;
	right: 15px;
	left: 0;
}

#color-selector .color-wrapper {
	width: 20%;
	float: left;
	padding-left: 15px;
	padding-bottom: 15px;
}

#color-selector .color-wrapper .color {
	width: 100%;
	height: 0;
	padding-top: 100%;
	position: relative;
	cursor: pointer;

	transition: all 0.2s ease;
}

#color-selector .color-wrapper .color .select-indicator {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	border: 2px solid #000;
	opacity: 0;

	transition: all 0.2s ease;
}

#color-selector .color-wrapper.current .color .select-indicator {
	opacity: 1;
    left: -5px;
    top: -5px;
    right: -5px;
    bottom: -5px;
}

#color-selector .color-wrapper .metas {
	padding: 9px 5px;
	background: #e2e2e2;
	text-align: center;
	font-size: 14px;
}

#color-selector .color-wrapper.empty .color {
	transform: rotate(45deg) scale(0.2);
}

#color-selector .color-wrapper.empty .metas {
    opacity: 0.5;
    background: transparent;
}



#save-load-pane {
	position: relative;
	width: 100%;
	overflow: hidden;
    border-top: 1px solid #404040;
}

#save-load-pane > div {
	float: left;
	width: 50%;
	box-sizing: border-box;
	padding: 15px;
}

#save-load-pane .left-pane {
	border-right: 1px solid #404040;
}

#save-load-pane label {
	display: block;
	font-size: 14px;
    margin: 0 15px;
    font-weight: bold;
}

#save-load-pane textarea {
	display: block;
	margin: 15px auto;
	height: 200px;
	resize: none;
	width: 47vw;
}

#colors-pane #save-load-pane .interactors {
	display: block;
    width: 90%;
    margin: 5%;
}

#colors-pane #save-load-pane .interactors button {
	padding: 5px;
	border: 2px solid #404040;
	background: #eee;
	text-transform: uppercase;
	font-size: 14px;
}